Repository ofey404/WalkingShadows: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-bazel-build, run-all-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        language_version: python3.10

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.33.0
    hooks:
      - id: markdownlint
      - id: markdownlint-fix

  - repo: local
    hooks:
      - id: update-bazel-build
        name: update bazel build
        entry: ./scripts/update_bazel_build.sh
        files: 'src/backend/.*\.py$'
        language: system

      - id: run-all-tests
        name: run all tests
        entry: ./scripts/test.sh
        files: "src/backend/.*"
        language: system

[backend] insert memory to db (#25)
  .pre-commit-config.yaml
  src/backend/services/world/api/world/memory.py
  src/backend/services/world/api/world/test/test_world.py
  src/backend/services/world/internal/llm/llm.py
  src/backend/services/world/internal/memory/memory_stream.py
  src/backend/services/world/internal/memory/test/test_memory_stream.py
  src/backend/services/world/internal/models/world.py
Due: update-bazel-build, run-all-tests

stage: remove frontend
  src/frontend/.prettierignore
  src/frontend/.prettierrc.json
  src/frontend/assets/campfire.png
  src/frontend/assets/mage.png
  src/frontend/assets/text/message-form.html
  src/frontend/index.html
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/config.ts
  src/frontend/src/game.ts
  src/frontend/src/scenes/example-scene.ts
  src/frontend/tsconfig.json
  src/frontend/webpack.config.js
  src/frontend/yarn.lock
Due: none

stage: next new project skeleton
  .pre-commit-config.yaml
  src/frontend/.eslintrc.json
  src/frontend/.gitignore
  src/frontend/README.md
  src/frontend/app/favicon.ico
  src/frontend/app/globals.css
  src/frontend/app/layout.tsx
  src/frontend/app/page.tsx
  src/frontend/next.config.js
  src/frontend/package.json
  src/frontend/postcss.config.js
  src/frontend/public/next.svg
  src/frontend/public/vercel.svg
  src/frontend/tailwind.config.js
  src/frontend/tsconfig.json
  src/frontend/yarn.lock
Due: none

stage: use src/ project structure
  src/frontend/src/app/favicon.ico
  src/frontend/src/app/globals.css
  src/frontend/src/app/layout.tsx
  src/frontend/src/app/page.tsx
  src/frontend/tailwind.config.js
  src/frontend/tsconfig.json
  src/frontend/yarn.lock
Due: none

stage: change to another structure
  .gitignore
  src/backend/.gitignore
  src/backend/BUILD.bazel
  src/frontend/.eslintrc.json
  src/frontend/.gitignore
  src/frontend/README.md
  src/frontend/components/date.js
  src/frontend/components/layout.js
  src/frontend/components/layout.module.css
  src/frontend/lib/posts.js
  src/frontend/next.config.js
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/pages/_app.js
  src/frontend/pages/api/hello.js
  src/frontend/pages/index.js
  src/frontend/pages/posts/[id].js
  src/frontend/postcss.config.js
  src/frontend/posts/pre-rendering.md
  src/frontend/posts/ssg-ssr.md
  src/frontend/public/favicon.ico
  src/frontend/public/images/profile.jpg
  src/frontend/public/next.svg
  src/frontend/public/vercel.svg
  src/frontend/src/app/favicon.ico
  src/frontend/src/app/globals.css
  src/frontend/src/app/layout.tsx
  src/frontend/src/app/page.tsx
  src/frontend/styles/global.css
  src/frontend/styles/utils.module.css
  src/frontend/tailwind.config.js
  src/frontend/tsconfig.json
  src/frontend/yarn.lock
Due: run-all-tests

stage: use ts
  src/frontend/components/date.tsx
  src/frontend/components/layout.tsx
  src/frontend/lib/posts.ts
  src/frontend/next-env.d.ts
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/pages/_app.js
  src/frontend/pages/_app.tsx
  src/frontend/pages/api/hello.js
  src/frontend/pages/api/hello.ts
  src/frontend/pages/index.tsx
  src/frontend/pages/posts/[id].tsx
  src/frontend/tsconfig.json
Due: none

stage: example page
  src/frontend/lib/worlds.ts
  src/frontend/pages/worlds/[world_name].tsx
Due: none

stage: load env
  src/frontend/pages/worlds/[world_name].tsx
Due: none

stage: use router
  src/frontend/pages/worlds/[world_name].tsx
Due: none

stage: making api call
  src/backend/services/world/app/app.py
  src/backend/services/world/internal/models/world.py
  src/frontend/pages/worlds/[world_name].tsx
Due: update-bazel-build, run-all-tests

stage: fine-layer python3 image
  src/backend/services/world/BUILD.bazel
Due: run-all-tests

[frontend] Use react and next ts as frontend (#26)
  .gitignore
  .pre-commit-config.yaml
  src/backend/.gitignore
  src/backend/BUILD.bazel
  src/backend/services/world/BUILD.bazel
  src/backend/services/world/app/app.py
  src/backend/services/world/internal/models/world.py
  src/frontend/.gitignore
  src/frontend/.prettierignore
  src/frontend/.prettierrc.json
  src/frontend/README.md
  src/frontend/assets/campfire.png
  src/frontend/assets/mage.png
  src/frontend/assets/text/message-form.html
  src/frontend/components/date.tsx
  src/frontend/components/layout.module.css
  src/frontend/components/layout.tsx
  src/frontend/index.html
  src/frontend/lib/posts.ts
  src/frontend/lib/worlds.ts
  src/frontend/next-env.d.ts
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/pages/_app.tsx
  src/frontend/pages/api/hello.ts
  src/frontend/pages/index.tsx
  src/frontend/pages/posts/[id].tsx
  src/frontend/pages/worlds/[world_name].tsx
  src/frontend/posts/pre-rendering.md
  src/frontend/posts/ssg-ssr.md
  src/frontend/public/favicon.ico
  src/frontend/public/images/profile.jpg
  src/frontend/src/config.ts
  src/frontend/src/game.ts
  src/frontend/src/scenes/example-scene.ts
  src/frontend/styles/global.css
  src/frontend/styles/utils.module.css
  src/frontend/tsconfig.json
  src/frontend/webpack.config.js
  src/frontend/yarn.lock
Due: update-bazel-build, run-all-tests

stage: add manual
  .idea/.gitignore
  .idea/WalkingShadows.iml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  experiments/manual/1/README.md
  experiments/manual/1/record.txt
  scripts/build_image.sh
Due: none

stage: add manual (#28)
  .idea/.gitignore
  .idea/WalkingShadows.iml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  experiments/manual/1/README.md
  experiments/manual/1/record.txt
  scripts/build_image.sh
Due: none

stage: continue story
  experiments/manual/1/README.md
  experiments/manual/2/1-depict-settings/record-1.txt
  experiments/manual/2/1-depict-settings/record-2.txt
  experiments/manual/2/README.md
Due: none

[experiment] stage: continue story (#29)
  experiments/manual/1/README.md
  experiments/manual/2/1-depict-settings/record-1.txt
  experiments/manual/2/1-depict-settings/record-2.txt
  experiments/manual/2/README.md
Due: none

stage: depict is done
  experiments/manual/2/1-depict-settings/record-10.txt
  experiments/manual/2/1-depict-settings/record-3.txt
  experiments/manual/2/1-depict-settings/record-4.txt
  experiments/manual/2/1-depict-settings/record-5.txt
  experiments/manual/2/1-depict-settings/record-6.txt
  experiments/manual/2/1-depict-settings/record-7.txt
  experiments/manual/2/1-depict-settings/record-8.txt
  experiments/manual/2/1-depict-settings/record-9.txt
Due: none

[experiment] stage: depict is done (#30)
  experiments/manual/2/1-depict-settings/record-10.txt
  experiments/manual/2/1-depict-settings/record-3.txt
  experiments/manual/2/1-depict-settings/record-4.txt
  experiments/manual/2/1-depict-settings/record-5.txt
  experiments/manual/2/1-depict-settings/record-6.txt
  experiments/manual/2/1-depict-settings/record-7.txt
  experiments/manual/2/1-depict-settings/record-8.txt
  experiments/manual/2/1-depict-settings/record-9.txt
Due: none

stage: rename experiments
  experiments/prompt-engineering/iter-1/README.md
  experiments/prompt-engineering/iter-1/record.txt
  experiments/prompt-engineering/iter-2/README.md
  experiments/prompt-engineering/iter-2/stage-1-depict-settings/record-1.txt
  experiments/prompt-engineering/iter-2/stage-1-depict-settings/record-10.txt
  experiments/prompt-engineering/iter-2/stage-1-depict-settings/record-2.txt
  experiments/prompt-engineering/iter-2/stage-1-depict-settings/record-3.txt
  experiments/prompt-engineering/iter-2/stage-1-depict-settings/record-4.txt
  experiments/prompt-engineering/iter-2/stage-1-depict-settings/record-5.txt
  experiments/prompt-engineering/iter-2/stage-1-depict-settings/record-6.txt
  experiments/prompt-engineering/iter-2/stage-1-depict-settings/record-7.txt
  experiments/prompt-engineering/iter-2/stage-1-depict-settings/record-8.txt
  experiments/prompt-engineering/iter-2/stage-1-depict-settings/record-9.txt
Due: none

stage: gunnm story 1 analysis
  experiments/prompt-engineering/iter-2/README.md
  experiments/prompt-engineering/iter-2/stage-1-depict-settings/record-11.txt
Due: none

stage: stage 3
  experiments/prompt-engineering/iter-2/README.md
  experiments/prompt-engineering/iter-2/stage-2-story-backbone/record-1.txt
  experiments/prompt-engineering/iter-2/stage-2-story-backbone/record-2.txt
  experiments/prompt-engineering/iter-2/stage-2-story-backbone/record-3.txt
  experiments/prompt-engineering/iter-2/stage-3-outline-with-story-dynamics/record-1.txt
  experiments/prompt-engineering/iter-2/story-dynamics.md
Due: none

stage: good
  experiments/prompt-engineering/iter-2/stage-3-outline-with-story-dynamics/record-2.txt
  experiments/prompt-engineering/iter-2/stage-3-outline-with-story-dynamics/record-3.txt
Due: none

[experiment] story backbone (#31)
  experiments/manual/2/README.md
  experiments/prompt-engineering/iter-1/README.md
  experiments/prompt-engineering/iter-1/record.txt
  experiments/prompt-engineering/iter-2/README.md
  experiments/prompt-engineering/iter-2/stage-1-depict-settings/record-1.txt
  experiments/prompt-engineering/iter-2/stage-1-depict-settings/record-10.txt
  experiments/prompt-engineering/iter-2/stage-1-depict-settings/record-11.txt
  experiments/prompt-engineering/iter-2/stage-1-depict-settings/record-2.txt
  experiments/prompt-engineering/iter-2/stage-1-depict-settings/record-3.txt
  experiments/prompt-engineering/iter-2/stage-1-depict-settings/record-4.txt
  experiments/prompt-engineering/iter-2/stage-1-depict-settings/record-5.txt
  experiments/prompt-engineering/iter-2/stage-1-depict-settings/record-6.txt
  experiments/prompt-engineering/iter-2/stage-1-depict-settings/record-7.txt
  experiments/prompt-engineering/iter-2/stage-1-depict-settings/record-8.txt
  experiments/prompt-engineering/iter-2/stage-1-depict-settings/record-9.txt
  experiments/prompt-engineering/iter-2/stage-2-story-backbone/record-1.txt
  experiments/prompt-engineering/iter-2/stage-2-story-backbone/record-2.txt
  experiments/prompt-engineering/iter-2/stage-2-story-backbone/record-3.txt
  experiments/prompt-engineering/iter-2/stage-3-outline-with-story-dynamics/record-1.txt
  experiments/prompt-engineering/iter-2/stage-3-outline-with-story-dynamics/record-2.txt
  experiments/prompt-engineering/iter-2/stage-3-outline-with-story-dynamics/record-3.txt
  experiments/prompt-engineering/iter-2/story-dynamics.md
Due: none

stage: bad
  experiments/prompt-engineering/iter-2/README.md
  experiments/prompt-engineering/iter-2/main.py
  experiments/prompt-engineering/iter-2/stage-4-more-high-level/record-1.txt
  experiments/prompt-engineering/iter-2/stage-4-more-high-level/record-2.txt
  experiments/prompt-engineering/iter-2/stage-4-more-high-level/record-3.txt
  experiments/prompt-engineering/iter-2/stage-4-more-high-level/record-4.txt
  experiments/prompt-engineering/iter-2/stage-5-use-api/data-1/input.txt
  experiments/prompt-engineering/iter-2/stage-5-use-api/data-1/output.txt
  experiments/prompt-engineering/iter-2/stage-5-use-api/record-2.txt
  experiments/prompt-engineering/iter-2/stage-6-thematic/note.md
  experiments/prompt-engineering/iter-2/stage-6-thematic/record-1.txt
  experiments/prompt-engineering/iter-2/stage-6-thematic/record-2.txt
  experiments/prompt-engineering/iter-2/stage-6-thematic/record-3/input.txt
  experiments/prompt-engineering/iter-2/stage-6-thematic/record-3/output.txt
  experiments/prompt-engineering/iter-2/stage-6-thematic/record-4.txt
  experiments/prompt-engineering/iter-2/stage-6-thematic/record-5/input.txt
  experiments/prompt-engineering/iter-2/stage-6-thematic/record-5/output.txt
  experiments/prompt-engineering/iter-2/stage-6-thematic/record-6.txt
  gazelle_python.yaml
  src/backend/BUILD.bazel
  src/backend/services/world/BUILD.bazel
Due: run-all-tests

[backend] stage: bad (#32)
  experiments/prompt-engineering/iter-2/README.md
  experiments/prompt-engineering/iter-2/main.py
  experiments/prompt-engineering/iter-2/stage-4-more-high-level/record-1.txt
  experiments/prompt-engineering/iter-2/stage-4-more-high-level/record-2.txt
  experiments/prompt-engineering/iter-2/stage-4-more-high-level/record-3.txt
  experiments/prompt-engineering/iter-2/stage-4-more-high-level/record-4.txt
  experiments/prompt-engineering/iter-2/stage-5-use-api/data-1/input.txt
  experiments/prompt-engineering/iter-2/stage-5-use-api/data-1/output.txt
  experiments/prompt-engineering/iter-2/stage-5-use-api/record-2.txt
  experiments/prompt-engineering/iter-2/stage-6-thematic/note.md
  experiments/prompt-engineering/iter-2/stage-6-thematic/record-1.txt
  experiments/prompt-engineering/iter-2/stage-6-thematic/record-2.txt
  experiments/prompt-engineering/iter-2/stage-6-thematic/record-3/input.txt
  experiments/prompt-engineering/iter-2/stage-6-thematic/record-3/output.txt
  experiments/prompt-engineering/iter-2/stage-6-thematic/record-4.txt
  experiments/prompt-engineering/iter-2/stage-6-thematic/record-5/input.txt
  experiments/prompt-engineering/iter-2/stage-6-thematic/record-5/output.txt
  experiments/prompt-engineering/iter-2/stage-6-thematic/record-6.txt
  gazelle_python.yaml
  src/backend/BUILD.bazel
  src/backend/services/world/BUILD.bazel
Due: run-all-tests

stage: nice
  experiments/prompt-engineering/iter-2/README.md
  experiments/prompt-engineering/iter-2/stage-7-summarize-settings/data-1/input.txt
  experiments/prompt-engineering/iter-2/stage-7-summarize-settings/data-1/output.txt
  experiments/prompt-engineering/iter-2/stage-7-summarize-settings/record-2.txt
Due: none

[experiment] a good way to add dramatic plot (#33)
  experiments/prompt-engineering/iter-2/README.md
  experiments/prompt-engineering/iter-2/stage-7-summarize-settings/data-1/input.txt
  experiments/prompt-engineering/iter-2/stage-7-summarize-settings/data-1/output.txt
  experiments/prompt-engineering/iter-2/stage-7-summarize-settings/record-2.txt
Due: none

stage: updated README.md
  README.md
Due: none

stage: updated README.md (#34)
  README.md
Due: none

stage: can do it in pnpm dev
  .bazelignore
  .idea/.gitignore
  .idea/WalkingShadows.iml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  WORKSPACE
  bazel/all_http_archive.bzl
  bazel/next.bzl
  src/frontend/BUILD.bazel
  src/frontend/components/BUILD.bazel
  src/frontend/lib/BUILD.bazel
  src/frontend/lib/posts.ts
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/pages/BUILD.bazel
  src/frontend/pnpm-lock.yaml
  src/frontend/posts/BUILD.bazel
  src/frontend/public/BUILD.bazel
  src/frontend/styles/BUILD.bazel
  src/frontend/tsconfig.json
Due: none

stage: bazel build for frontend
  src/frontend/BUILD.bazel
  src/frontend/components/BUILD.bazel
  src/frontend/components/decleration.d.ts
  src/frontend/components/layout.tsx
  src/frontend/lib/posts.ts
  src/frontend/pages/BUILD.bazel
  src/frontend/public/BUILD.bazel
  src/frontend/styles/layout.module.css
  src/frontend/tsconfig.json
Due: none

stage: make the deps slim. except pages/
  src/frontend/components/BUILD.bazel
  src/frontend/lib/BUILD.bazel
Due: none

stage: before sort pages/
  src/frontend/BUILD.bazel
  src/frontend/posts/BUILD.bazel
Due: none

stage: make tscomfig slim
  src/frontend/components/BUILD.bazel
  src/frontend/lib/BUILD.bazel
  src/frontend/pages/BUILD.bazel
  src/frontend/pages/api/BUILD.bazel
  src/frontend/pages/posts/BUILD.bazel
  src/frontend/pages/worlds/BUILD.bazel
  src/frontend/tsconfig.json
Due: none

stage: use ibazel in package.json
  src/frontend/package.json
Due: none

stage: fix declerations
  src/frontend/components/BUILD.bazel
  src/frontend/styles/decleration.d.ts
Due: none

stage: still problems in pnpm build. but let it be.
  src/frontend/pages/BUILD.bazel
  src/frontend/pages/api/BUILD.bazel
  src/frontend/pages/posts/BUILD.bazel
  src/frontend/pages/worlds/BUILD.bazel
  src/frontend/tsconfig.json
Due: none

stage: fixed build, manual eslint
  src/frontend/.eslintrc.json
  src/frontend/lib/posts.ts
  src/frontend/package.json
  src/frontend/pages/index.tsx
  src/frontend/pages/worlds/BUILD.bazel
  src/frontend/pages/worlds/[world_name].tsx
  src/frontend/pnpm-lock.yaml
Due: none

[devops] use `rules_ts` for frontend (#35)
  .bazelignore
  .idea/.gitignore
  .idea/WalkingShadows.iml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  WORKSPACE
  bazel/all_http_archive.bzl
  bazel/next.bzl
  src/frontend/.eslintrc.json
  src/frontend/BUILD.bazel
  src/frontend/components/BUILD.bazel
  src/frontend/components/layout.tsx
  src/frontend/lib/BUILD.bazel
  src/frontend/lib/posts.ts
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/pages/BUILD.bazel
  src/frontend/pages/api/BUILD.bazel
  src/frontend/pages/index.tsx
  src/frontend/pages/posts/BUILD.bazel
  src/frontend/pages/worlds/BUILD.bazel
  src/frontend/pages/worlds/[world_name].tsx
  src/frontend/pnpm-lock.yaml
  src/frontend/posts/BUILD.bazel
  src/frontend/public/BUILD.bazel
  src/frontend/styles/BUILD.bazel
  src/frontend/styles/decleration.d.ts
  src/frontend/styles/layout.module.css
  src/frontend/tsconfig.json
Due: none

stage: clean up unused scripts
  .ijwb/.bazelproject
  .ijwb/.blaze/modules/.project-data-dir.iml
  .ijwb/.blaze/modules/.workspace.iml
  scripts/dev.sh
  scripts/start_backend.sh
  scripts/start_frontend.sh
  src/backend/libs/mongox/__test__.py
  src/frontend/package-lock.json
Due: update-bazel-build, run-all-tests
