Repository ofey404/WalkingShadows: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-bazel-build, run-all-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        language_version: python3.10

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.33.0
    hooks:
      - id: markdownlint
      - id: markdownlint-fix

  - repo: local
    hooks:
      - id: update-bazel-build
        name: update bazel build
        entry: ./scripts/update_bazel_build.sh
        files: 'src/backend/.*\.py$'
        language: system

      - id: run-all-tests
        name: run all tests
        entry: ./scripts/test.sh
        files: "src/backend/.*"
        language: system

stage: ci and pre-commit
  .pre-commit-config.yaml
Due: none

[project] Run all tests at CI and pre-commit (#5)
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  README.md
  docs/roadmap.md
  gazelle_python.yaml
  requirements.in
  requirements_lock.txt
  scripts/test.sh
  src/backend/BUILD.bazel
  src/backend/__test__.py
  src/frontend/BUILD.bazel
Due: update-bazel-build, run-all-tests

stage: test ci cache
  src/backend/__test__.py
Due: update-bazel-build, run-all-tests

stage: warmup
  .github/workflows/cache-warmup.yaml
Due: none

[project] test CI cache (#6)
  .github/workflows/cache-warmup.yaml
  src/backend/__test__.py
Due: update-bazel-build, run-all-tests

stage: hot reload
  scripts/dev.sh
  scripts/run.sh
  src/backend/__test__.py
Due: update-bazel-build, run-all-tests

stage: hot reload
  .pre-commit-config.yaml
Due: none

stage: config to yaml
  .env.example
  docs/roadmap.md
  gazelle_python.yaml
  requirements.in
  requirements_lock.txt
  scripts/test.sh
  src/backend/BUILD.bazel
  src/backend/__init__.py
  src/backend/__main__.py
  src/backend/__test__.py
  src/backend/api.yml
  src/backend/config/.gitignore
  src/backend/config/config.yaml
  src/backend/config/secret.example.yaml
  src/backend/schema/config.py
  src/backend/schema/service_context.py
  src/backend/schema/singleton.py
  src/backend/schema/test/BUILD.bazel
  src/backend/schema/test/__test__.py
  src/backend/schema/test/data/config.yaml
  src/backend/schema/test/data/secret.yaml
  src/backend/schema/test/test_config.py
Due: update-bazel-build, run-all-tests

[backend] stage: config to yaml (#8)
  .env.example
  docs/roadmap.md
  gazelle_python.yaml
  requirements.in
  requirements_lock.txt
  scripts/test.sh
  src/backend/BUILD.bazel
  src/backend/__init__.py
  src/backend/__main__.py
  src/backend/__test__.py
  src/backend/api.yml
  src/backend/config/.gitignore
  src/backend/config/config.yaml
  src/backend/config/secret.example.yaml
  src/backend/schema/config.py
  src/backend/schema/service_context.py
  src/backend/schema/singleton.py
  src/backend/schema/test/BUILD.bazel
  src/backend/schema/test/__test__.py
  src/backend/schema/test/data/config.yaml
  src/backend/schema/test/data/secret.yaml
  src/backend/schema/test/test_config.py
Due: update-bazel-build, run-all-tests

stage: isort
  .pre-commit-config.yaml
  docs/roadmap.md
  src/backend/__init__.py
  src/backend/__main__.py
  src/backend/__test__.py
  src/backend/api.py
  src/backend/schema/config.py
  src/backend/schema/service_context.py
  src/backend/schema/test/__test__.py
  src/backend/schema/test/test_config.py
Due: update-bazel-build, run-all-tests

stage: fakeLLM
  .env.example
  src/backend/BUILD.bazel
  src/backend/__init__.py
  src/backend/__main__.py
  src/backend/__test__.py
  src/backend/schema/BUILD.bazel
  src/backend/schema/__init__.py
  src/backend/schema/service_context.py
  src/backend/schema/test/test_config.py
Due: update-bazel-build, run-all-tests

stage: note logic and test
  src/backend/BUILD.bazel
  src/backend/__main__.py
  src/backend/__test__.py
  src/backend/logic/note.py
  src/backend/logic/test/BUILD.bazel
  src/backend/logic/test/__test__.py
  src/backend/logic/test/test_note.py
  src/backend/schema/service_context.py
  src/backend/schema/test/BUILD.bazel
  src/backend/schema/test/__init__.py
Due: update-bazel-build, run-all-tests

stage: image
  README.md
Due: none

stage: verbose
  src/backend/schema/service_context.py
Due: update-bazel-build, run-all-tests

[backend] connect to openAI (of course tests are included) (#10)
  .env.example
  .pre-commit-config.yaml
  README.md
  docs/roadmap.md
  src/backend/BUILD.bazel
  src/backend/__init__.py
  src/backend/__main__.py
  src/backend/__test__.py
  src/backend/api.py
  src/backend/api.yml
  src/backend/config/config.yaml
  src/backend/config/secret.example.yaml
  src/backend/logic/BUILD.bazel
  src/backend/logic/__init__.py
  src/backend/logic/note.py
  src/backend/logic/test/BUILD.bazel
  src/backend/logic/test/__test__.py
  src/backend/logic/test/test_note.py
  src/backend/schema/BUILD.bazel
  src/backend/schema/__init__.py
  src/backend/schema/config.py
  src/backend/schema/service_context.py
  src/backend/schema/test/BUILD.bazel
  src/backend/schema/test/__init__.py
  src/backend/schema/test/__test__.py
  src/backend/schema/test/data/config.yaml
  src/backend/schema/test/test_config.py
  src/frontend/index.html
  src/frontend/src/scenes/example-scene.ts
  src/frontend/webpack.config.js
Due: update-bazel-build, run-all-tests

stage: singleton implementation is bad
  src/backend/__main__.py
  src/backend/schema/BUILD.bazel
  src/backend/schema/__init__.py
  src/backend/schema/config.py
  src/backend/schema/service_context.py
  src/backend/schema/singleton.py
  src/backend/schema/test/__init__.py
Due: update-bazel-build, run-all-tests

stage: enhance scripts
  .pre-commit-config.yaml
  scripts/dev.sh
  scripts/start_backend.sh
  scripts/start_frontend.sh
  src/backend/BUILD.bazel
  src/backend/logic/test/BUILD.bazel
  src/backend/schema/test/BUILD.bazel
Due: run-all-tests

stage: UI ready
  docs/roadmap.md
  src/frontend/assets/background.png
  src/frontend/assets/campfire.png
  src/frontend/assets/dragon.png
  src/frontend/assets/mage.png
  src/frontend/assets/player.png
  src/frontend/assets/text/message-form.html
  src/frontend/assets/treasure.png
  src/frontend/src/config.ts
  src/frontend/src/scenes/example-scene.ts
Due: none

stage: Integration
  src/frontend/src/scenes/example-scene.ts
Due: none

stage: readme
  README.md
Due: none

stage: review
  src/frontend/assets/background.png
  src/frontend/assets/dragon.png
  src/frontend/assets/player.png
  src/frontend/assets/treasure.png
Due: none

[frontend] new UI (#11)
  .pre-commit-config.yaml
  README.md
  docs/roadmap.md
  scripts/dev.sh
  scripts/start_backend.sh
  scripts/start_frontend.sh
  src/backend/BUILD.bazel
  src/backend/__main__.py
  src/backend/logic/test/BUILD.bazel
  src/backend/schema/BUILD.bazel
  src/backend/schema/__init__.py
  src/backend/schema/config.py
  src/backend/schema/service_context.py
  src/backend/schema/singleton.py
  src/backend/schema/test/BUILD.bazel
  src/backend/schema/test/__init__.py
  src/frontend/assets/campfire.png
  src/frontend/assets/mage.png
  src/frontend/assets/text/message-form.html
  src/frontend/src/config.ts
  src/frontend/src/scenes/example-scene.ts
Due: update-bazel-build, run-all-tests

stage: error code and body handling
  gazelle_python.yaml
  requirements.in
  requirements_lock.txt
  scripts/test.sh
  src/backend/BUILD.bazel
  src/backend/__main__.py
  src/backend/__test__.py
  src/backend/api.py
  src/backend/api.yml
  src/backend/logic/BUILD.bazel
  src/backend/logic/__init__.py
  src/backend/logic/note.py
  src/backend/logic/test/BUILD.bazel
  src/backend/logic/test/test_note.py
  src/backend/schema/test/BUILD.bazel
Due: update-bazel-build, run-all-tests

[backend]: error code and body handling (#14)
  gazelle_python.yaml
  requirements.in
  requirements_lock.txt
  scripts/test.sh
  src/backend/BUILD.bazel
  src/backend/__main__.py
  src/backend/__test__.py
  src/backend/api.py
  src/backend/api.yml
  src/backend/logic/BUILD.bazel
  src/backend/logic/__init__.py
  src/backend/logic/note.py
  src/backend/logic/test/BUILD.bazel
  src/backend/logic/test/test_note.py
  src/backend/schema/test/BUILD.bazel
Due: update-bazel-build, run-all-tests

stage: clear backend
  src/backend/.init
  src/backend/BUILD.bazel
  src/backend/__init__.py
  src/backend/__main__.py
  src/backend/__test__.py
  src/backend/api.py
  src/backend/api.yml
  src/backend/config/.gitignore
  src/backend/config/config.yaml
  src/backend/config/secret.example.yaml
  src/backend/logic/BUILD.bazel
  src/backend/logic/__init__.py
  src/backend/logic/note.py
  src/backend/logic/test/BUILD.bazel
  src/backend/logic/test/__test__.py
  src/backend/logic/test/test_note.py
  src/backend/schema/BUILD.bazel
  src/backend/schema/__init__.py
  src/backend/schema/config.py
  src/backend/schema/service_context.py
  src/backend/schema/test/BUILD.bazel
  src/backend/schema/test/__init__.py
  src/backend/schema/test/__test__.py
  src/backend/schema/test/data/config.yaml
  src/backend/schema/test/data/secret.yaml
  src/backend/schema/test/test_config.py
Due: update-bazel-build, run-all-tests

stage: an empty `tick`
  gazelle_python.yaml
  requirements.in
  requirements_lock.txt
  src/backend/BUILD.bazel
  src/backend/libs/test_lib/BUILD.bazel
  src/backend/libs/test_lib/__init__.py
  src/backend/services/character/BUILD.bazel
  src/backend/services/character/__main__.py
  src/backend/services/character/routers/tick.py
  src/backend/services/character/settings/BUILD.bazel
  src/backend/services/character/settings/__init__.py
  src/backend/services/character/settings/settings.py
  src/backend/services/world/.init
Due: update-bazel-build, run-all-tests

stage: an empty `tick`
  src/backend/libs/test_lib/BUILD.bazel
  src/backend/libs/test_lib/__init__.py
  src/backend/libs/uvicornx/__init__.py
  src/backend/libs/uvicornx/run.py
  src/backend/libs/uvicornx/settings.py
  src/backend/services/character/__main__.py
  src/backend/services/character/routers/tick.py
  src/backend/services/character/scripts/launch.sh
  src/backend/services/character/settings/__init__.py
Due: update-bazel-build, run-all-tests

stage: uvicornx
  src/backend/libs/uvicornx/BUILD.bazel
  src/backend/libs/uvicornx/__init__.py
  src/backend/libs/uvicornx/run.py
  src/backend/libs/uvicornx/settings.py
  src/backend/services/character/BUILD.bazel
  src/backend/services/character/__main__.py
  src/backend/services/character/settings/settings.py
Due: update-bazel-build, run-all-tests

stage: logging
  BUILD.bazel
  gazelle_python.yaml
  requirements.in
  requirements.txt
  requirements_lock.txt
  src/backend/libs/uvicornx/settings.py
  src/backend/services/character/BUILD.bazel
  src/backend/services/character/__main__.py
  src/backend/services/character/routers/tick.py
  src/backend/services/character/scripts/launch.sh
  src/backend/services/character/settings/settings.py
Due: update-bazel-build, run-all-tests

stage: testing
  gazelle_python.yaml
  requirements.txt
  requirements_lock.txt
  src/backend/BUILD.bazel
  src/backend/__init__.py
  src/backend/services/character/__main__.py
  src/backend/services/character/settings/__init__.py
  src/backend/services/world/.init
  src/backend/services/world/BUILD.bazel
  src/backend/services/world/__main__.py
  src/backend/services/world/api/test/BUILD.bazel
  src/backend/services/world/api/test/__test__.py
  src/backend/services/world/api/test/conftest.py
  src/backend/services/world/api/test/test_tick.py
  src/backend/services/world/api/tick.py
  src/backend/services/world/scripts/launch.sh
  src/backend/services/world/server/BUILD.bazel
  src/backend/services/world/server/__init__.py
  src/backend/services/world/server/app.py
  src/backend/services/world/settings/BUILD.bazel
  src/backend/services/world/settings/__init__.py
  src/backend/services/world/settings/settings.py
Due: update-bazel-build, run-all-tests

stage: testing
  src/backend/services/world/api/test/conftest.py
Due: update-bazel-build, run-all-tests

stage: use simple and stupid unittest
  src/backend/services/world/api/test/BUILD.bazel
  src/backend/services/world/api/test/__test__.py
  src/backend/services/world/api/test/conftest.py
  src/backend/services/world/api/test/test_tick.py
Due: update-bazel-build, run-all-tests

stage: directory structure
  src/backend/services/world/BUILD.bazel
  src/backend/services/world/__main__.py
  src/backend/services/world/api/test/BUILD.bazel
  src/backend/services/world/api/world/BUILD.bazel
  src/backend/services/world/api/world/__init__.py
  src/backend/services/world/api/world/test/BUILD.bazel
  src/backend/services/world/api/world/test/__test__.py
  src/backend/services/world/api/world/test/test_tick.py
  src/backend/services/world/api/world/tick.py
  src/backend/services/world/scripts/test.sh
Due: update-bazel-build, run-all-tests

stage: multiple routes
  src/backend/services/world/__main__.py
  src/backend/services/world/api/world/BUILD.bazel
  src/backend/services/world/api/world/__init__.py
  src/backend/services/world/api/world/event.py
  src/backend/services/world/api/world/memory.py
  src/backend/services/world/api/world/tick.py
  src/backend/services/world/server/app.py
Due: update-bazel-build, run-all-tests
